body{
    margin:0px;
    padding:0px;
} 
/* Header Part */
.listUl>li>a:visited{
color:white;
}
.listUl>li>a:link{
    text-decoration: none;
}
/* navbar */
.doLogo{
width:13%;
height:70%;
margin-left:-20px;
}
.listColor>li>a:visited{
    color:#333;
}
.listColor>li>a:link{
    text-decoration: none;
}
.listColor>li>a:hover{
    color: #fc7f0c;
}
.own{
    color: #fc7f0c !important;
}
.bars{
    color:#333  !important;
    margin-top:30px  !important;
}
.bar>a:hover{
    text-decoration: none !important;
}
.full{
    width:100%;
    padding:0px !important;
}
/* Image Part */
.imagePart{
    width:100%;
    height:100%;
    position: relative;
}
.full img{
width:100%;
}
.content{
    width:100%;
    height:1000px;
    position: absolute;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#666;
    word-spacing: 10px;
    z-index:1;
}
.content>h1{
    font-size:80px;
    color:#fff;
}
.content>h6{
font-size:22px;
}
.aButton {
    border:2px solid transparent; 
    padding:7px 30px;
    text-decoration: none !important;
    margin-right:13px;
    font-size: 15px;
    background-color: #00c9b1;
    border-radius: 18px;
    color: #fff;
}
.aButton:hover{
    color: #fff;
    transition: 0.4s;
    opacity:0.8;
}
.orangeButton{
   background-color: #fc7f0c !important;
}
.orangeButton:hover{
    background-color: #00c9b1 !important;
}
.greenButton:hover{
    background-color: #fc7f0c !important;
    border:2px solid transparent !important
}
.upIcon{
    border:1px solid #fff;
    border-radius:50%;
    padding:3px 11px;
    transform:translate(-10px, 25px)
}
.upIcon>a:visited{
    color:#fff;
}
/* Boxes Part */
.boxes{
    width:85%;
    position: relative;

}
.boxArea{
    background-color: rgb(240, 233, 233)
}
.iconBorder{
    padding:10px 17px;
    border:1px solid #666;
    border-radius: 50%;
    color:#888;
    position: absolute;
    margin:70px 0 0 110px;
   
}
.boxes:hover .iconBorder{
    background-color:#fc7f0c;
    color:#fff;
    border:1px solid transparent;
    transition:0.5s;
}
.iconBorder:hover .iconBorder{
    background-color:#fc7f0c;
    color:#fff;
    border:1px solid transparent;
    transition:0.5s;
}
.boxes>h3{
  margin-top:50%;
   
}
.boxes p{
    color:#888
}
.other{
    color: #fc7f0c !important;
}
/* Image&List Part */
.listIcon>ul>li{
   list-style-type: none;
}
.rightAngle{
    border:1px solid #fc7f0c;
    color: #fc7f0c;
    border-radius: 50%;
    padding:2px 5px;
    font-size:10px;
    margin:10px 10px 10px -38px;
}
.greyButton{
    padding:9px 25px;
    margin-top:35px;
    background-color:#fc7f0c;
    letter-spacing: 7px;
}
.greyButton:hover{
    border:2px solid rgba(136, 136, 136, 0.308) ;
    background-color: #fff ;
    color:#777;
}
/* Count Part */
.count{
   background-color:#31c2b1;
}
.number{
    width:80%;
    text-align:center;
    color:#fff;
    padding:50px;
}
.number>i{
    font-size:30px;
}
.number>i>span{
    margin-left:20px;
    font-size:40px;
}
.number>p{
    font-size:18px !important;
    margin: 20px 80px 0px 0px;
}
/* Shadow Part */
.darkFon{
    padding:200px 0px;
    margin:0px;
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.darkFon>h3, .darkFon>p{
    z-index:2;
}
.darkness{
    width:100%;
    height:100%;
    position: absolute;
    z-index:1;
    background-color: rgba(0,0,0,.75)
}
.darkFon>p{
    font-size:19px;
}
.darkFon>img{
width:100%;
height:100%;
position: absolute;
z-index:-1;
}
.yellowButton{
    background-color: #fc7f0c;
    padding:10px 30px;
    letter-spacing: 6px;
    margin-top:15px;
    z-index:2;
}
.yellowButton:hover{
background-color:transparent !important;
border:2px solid #fff;
}
.transparentButton:hover{
   border:2px solid white;
}
.justButton{
    background-color: transparent !important;
    border:1px solid rgba(68, 68, 68, 0.185);
    color:rgba(68, 68, 68, 0.582);
}
.justButton:hover{
    background-color: #fc7f0c !important;
    color:#fff;
    border:1px solid transparent;

}
.orangeLine{
    width:40px;
    height:5px;
    background-color: #fc7f0c;
    margin-left:49%;
}
.muted{
    font-size:20px;
    letter-spacing: 6px;
}
/* Gallery */
.images{
    padding:0px;
    position: relative;
}
.images>img{
   width:100%;
   height:100%;
}
.shadow{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.75);
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    opacity: 0;
}
.images:hover .shadow{
    opacity: 1;
    transition: 0.7s;
}
.shadow>h3{
    color:#fc7f0c;
}
.shadow>i{
    color:#fc7f0c;
    transform:translate(155px, 70px)
}
.whiteButton{
    background-color: #fff !important;
    border:2px solid rgba(153, 153, 153, 0.582) !important;
    color:#777 !important;
}
.whiteButton:hover{
background-color: #fc7f0c !important;
border:2px solid transparent  !important;
color:#fff !important;
}
.back{
    background-color: #fcfafa;
}
/* BLOG HERE */
.combineBox{
    width:80%;
    margin:auto;
    padding:auto;
    background-color:#fff;
}
.largeBox{
    width:100%;
    height:33.3%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    border:1px solid rgba(71, 67, 67, 0.123);
    align-items: center;
    position: relative;
}
.largeBox>i{
color:rgba(71, 67, 67, 0.425)
}
.dataBox{
    width:45px;
    height:45px;
    border:1px solid transparent;
    background-color: #fc7f0c;
    font-size:14px !important;
    text-align: center;
    color:white;
    z-index:2;
}
.textBox{
    width:250px;
    height:100%;
    font-size:15px;
    margin:0px 620px 0px 40px;
    text-align: center;
    z-index:2;
}
.textBox a:visited{
    color:#111
}
.textBox a:hover{
text-decoration: none;
}
.textBox>h4{
    font-size:16px;
    margin:35px 0px 5px 0px;
    z-index:2;
}
.dec{
margin-top:-20px !important
}
.shadowImage{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(0,0,0,.75);
    z-index:1;
    opacity: 0;
}
.largeBox>img{
    width:100%;
    height:100%;
    z-index:1;
    position: absolute;
    opacity:0;
}
.largeBox:hover img{
    opacity:1;
    transition:0.5s
}
.largeBox:hover .shadowImage{
    opacity: 1;
    transition:0.5s
}
.largeBox:hover i{
    color:#fff;
    z-index: 2;
}
.largeBox:hover .textBox>p>a{
    color:#fff !important;
    transition:1s
}
.largeBox:hover .textBox>h4>a{
    color:#fff ;
}
.logoPart{
     padding:70px 0px 20px 0px;
}
.logoPart>div{
    height:100px;
    width:80%;
}
.logoPart>div>img{
    width:100%;
    height:100%;
}
.mapsPart{
    background-color: #00c9b1;

}
/* Map Part */
.map>img{
   width:100%;
   height:100%;
}

.inputArea{
 padding:0px 80px;
}
.inputPart{
    display:flex;
    flex-direction: row;
    padding:30px 0px 130px 0px;
}
.inputPart>input{
    width:45%;
    border:2px solid white;
    background-color: #00c9b1;
}
.inputPart>input:focus, textarea:focus{
    outline:none;
}
textarea{
    width:100%;
    border:2px solid white;
    background-color: #00c9b1;
}
.greenButton:hover{
background-color: transparent;
border:2px solid #fff;
}
.greenBut:hover{
    background-color: transparent !important;
border:2px solid rgba(102, 102, 102, 0.336);
color:#666;
}
/* Icon part */
.iconLogo{
    display:flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid rgba(17, 17, 17, 0.233)
}
.iconLogo>a>i{
    border:1px solid rgba(179, 163, 163, 0.26);
    padding:10px;
    border-radius:50%;
    margin:40px 25px 40px 25px;;
    color:rgba(146, 135, 135, 0.26);
}
.iconLogo>h5{
    font-size:16px;
    margin-top:5px;
}
.iconLogo>h5>a:visited{
color:rgba(141, 131, 131, 0.596);
}
.iconLogo>h5>a:link{
    text-decoration: none;
}
.rowIcon{
    background-color: #373737
}
.rowIcon>div:nth-child(1):hover{
    background-color: #286192;
}
.iconLogo:hover h5>a{
    color:#fff;
}
.iconLogo:hover i{
    color:#fff;
    border:1px solid #fff;
}
.rowIcon>div:nth-child(2):hover{
    background-color: #2fdac6d7;
}
.rowIcon>div:nth-child(3):hover{
    background-color: #aad450;
}
.rowIcon>div:nth-child(4):hover{
    background-color: #ea4c89;
}
.rowIcon>div:nth-child(5):hover{
    background-color: #005cff;
}
/* End Part */
.endPart span{
    margin-left:35px;
    color: #717171;
}
.endBG{
    background-color: #131313e1;
    padding:70px 0px;
    }
.doLogoBlack{
    width:50px;
    height:30px;
}
.endPart>i{
    color:#71717144;
    margin-left:5px;
}
.endList>li>a:link{
    color:#717171;
}
.endList>li>a:hover{
    text-decoration: none;
    color:#fc7f0c;
}
.combinePhoto{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.endPhoto{
    width:33.33%;
 
    
}
.endPhoto>img{
    width:98%;
    height:98%;
}
/* FOOTER */
.finish{
    background-color: #131313e1;
    border-top:1px solid rgba(102, 102, 102, 0.158);
}
.endOff:visited{
    color:#5754541e;
}
.endOff:link{
    letter-spacing: 7px;
}
.endOff:hover{
    text-decoration: none;
}